<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- skins框架，依赖即配置 -->
        <meta-data
            android:name="dora.lifecycle.config.SkinsGlobalConfig"
            android:value="GlobalConfig"/>
    </application>
</manifest>